---
layout: wrapper
title: Artists for Ukraine
---
<style media="screen">
  .row {
    width: 100%;
  }
  .artwork-box img {
    width: 100%;
    transition: 0.5s;
  }
  .artwork-box img:hover {
    opacity: 0.7;
  }
  .news-box img {
    width: 100%;
  }

  .news-box {
    text-decoration: none;
  }
  .news-title {
    margin-top: 5px;
    color: black;
  }

  .artwork-artist {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
  }
  .artwork-title {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .artwork-price {
    margin-top: 0px;
    color: grey;
    font-size: 15px;
  }

  .intro {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 4px solid black;
    border-radius: 15px;
  }

  .direct-donate {
    padding-left: 10px;
    padding-right: 10px;
    align: center;
    margin: auto;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
  }

  .direct-donate a {
    color: black;
    text-decoration: none;
  }

  .donation-button {
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    padding: 5px;
  }
  .donation-button:hover {
    background-color: #ffd700;
  }

  .shop-link {
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin: 0px;
    text-decoration: none;
    padding: 5px;
  }
  .shop-link:hover {
    background-color: #ffd700;
  }

  .show-link {
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin: 0px;
    text-decoration: none;
    padding: 5px;
  }
  .show-link:hover {
    background-color: #ffd700;
  }


  .progress-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15px;
  }
  .left-progress-bar {
    background-color: #0057b7;
    width: 50%;
    height: 100%;
  }
  .right-progress-bar {
    background-color: #e3e3e3;
    width: 50%;
    height: 100%;
  }

  .artwork-box {
    text-decoration: none;
    color: black;
  }

  .shop-link-banner {
    background-color: #b3c9fc;
    width: 100%;
    height: 230px;
    left: 0;
    right: 0;
    position: absolute;
  }
  .shop-link-title {
    padding-top: 20px;
  }

  .show-link-banner {
    background-color: #fcfcb3;
    width: 100%;
    height: 230px;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 230px;
  }
  .show-link-title {
    padding-top: 20px;
  }

  @media screen and (min-width: 800px) {
    .row {
      display: flex;
      justify-content: space-between;
    }
    .artwork-box, .news-box {
      width: 48%;
    }
    .shop-link-title {
      width: 600px;
    }
    .show-link-title {
      width: 600px;
    }
  }
  @media screen and (max-width: 800px) {
    .artwork-box, .news-box {
      width: 100%;
    }
    .shop-link-title {
      width: 80%;
    }
    .show-link-title {
      width: 80%;
    }
  }
  @media screen and (max-width: 400px) {
    .shop-link-banner {
      height: 260px;
    }
    .show-link-banner {
      margin-top: 260px;
    }
  }
</style>


<div class="intro">
  <h1>Urgent appeal: donate to relief efforts to support refugees fleeing from war in Ukraine!</h1>
</div>


<!--
<br>
<p>We are fundraising to support two groups of artists and activists in Western Ukraine; one group near the Polish border in Lviv and another near the Hungarian border in Uzhhorod.
</p>
<p>
They have set up a private support network to help people fleeing the war. They cook daily for refugees stranded at the border and organise basic supplies and temporary accommodation. Donations to this site will go towards covering costs.
</p>
<p>
Spread the word. Please share.
Every small contribution helps at this point. If you want to help in other ways, please get in touch.</p>
</p>
-->

<br>
<center>
<h2>Donate:</h2>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdFvDRwQumdoAOCaqPQOVQ">£5</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdTADRwQumdoAOKvEfzuj8">£10</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdTXDRwQumdoAOVXYoWFMI">£20</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdUGDRwQumdoAOQHfdKcwT">£50</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdUfDRwQumdoAOsyBMri1p">£100</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdV6DRwQumdoAOZ4sq1OBF">£200</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdVgDRwQumdoAObtk0gDM1">£500</button>

<button class="donation-button" data-checkout-mode="payment" data-price-id="price_1KYdW0DRwQumdoAOnH2hyTDR">£1000</button>
</center>


<br><br>
<div class="progress-bar">
  <div class="left-progress-bar"></div>
  <div class="right-progress-bar"></div>
</div>
<p>Currently raised: £20,922</p>

<br>


<div class="shop-link-banner">
  <center>
  <h2 class="shop-link-title">View artworks featured at our latest fundraising exhibition on March 24.</h2>
  <br>
  <a class="shop-link" href="/shop">Shop artwork</a>
  </center>
</div>

<h2 style="margin-top: 270px;">Updates:</h2>
<br>

{% assign rows = site.categories.news.size | divided_by: 2.0 | ceil %}
{% for i in (1..rows) %}
  {% assign offset = forloop.index0 | times: 2 %}
  <div class="row">
    {% for post in site.categories.news limit:2 offset:offset %}
      <a href="{{ post.url }}" class="news-box">
        <img src="/assets/images/{{ post.image }}" alt="">
        <h3 class="news-title">{{ post.title }} <span style="color: grey; font-size: 15px;">| {{ post.date | date_to_long_string }}</span></h3>
      </a>
    {% endfor %}
  </div>
{% endfor %}
