---
layout: wrapper
---

<style media="screen">
  .post-image {
    width: 100%;
  }
  .image-text {
    font-size: 15px;
    margin-top: 2px;
    color: grey;
  }

  .post-content img {
    width: 100%;
    align: center;
    z-index: 1;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  @media screen and (min-width: 800px) {
    .post-content {
      width: 80%;
      margin: auto;
    }
    .post-content img {
      width: 105%;
      align: center;
      z-index: 1;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
</style>

<center>
<h1>{{ page.title }}</h1>
<h3>{{ page.date | date_to_long_string }}</h3>
<img class="post-image" src="/assets/images/{{ page.image }}" alt="">
<p class="image-text">{{ page.image-text }}</p>
</center>

<div class="post-content">
  <p>{{ content }}</p>
</div>
