---
layout: wrapper
---
<style media="screen">
  .product-row {
    display: flex;
    justify-content: space-between;
    }
  .left-product-column {
    width: 59%;
  }
  .right-product-column {
    width: 39%;
  }
  .right-product-column p {
    font-size: 15px;
    margin-top: 3px;
  }
  .right-product-column h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .left-product-column img {
    width: 100%;
  }
  .donation-button {
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
  }
  .donation-button:hover {
    background-color: #ffd700;
  }

  @media screen and (max-width: 800px) {
    .product-row {
      display: block;
    }
    .right-product-column, .left-product-column {
      width: 100%;
    }
    .right-product-column h3 {
      margin-top: 15px;
    }
  }
</style>

<p style="font-size: 12px; color: grey; margin-top: 0px;"><a style="color: grey; border: none;" href="/">Artists for Ukraine</a> > <a style="color: grey; border: none;" href="/shop">Shop</a> > {{ page.title }}</p>

<div class="product-row">
  <div class="left-product-column">
    <img src="/assets/images/artwork/{{ page.image }}" alt="">
  </div>
  <div class="right-product-column">
    <h3>{{ page.title }}</h3>
    <p style="margin-top: 3px; margin-bottom: 0px; font-size: 15px;">{{ page.artist }}</p>
    <p style="margin-top: 3px; margin-bottom: 0px; font-size: 15px; color: grey;">{{ page.price }}
    {% if page.status == "sold" %} (SOLD){% endif %}
    </p>
    <p>{{ content }}</p>
    {% if page.status != "sold" %}
    <a href="mailto:susanne@szuper.org" class="donation-button">Contact to purchase</a>
    {% endif %}
  </div>
</div>

<script>
  // Replace with your own publishable key: https://dashboard.stripe.com/test/apikeys
  var PUBLISHABLE_KEY = 'pk_live_51KYcICDRwQumdoAOELjHzYSfqPhKEaqoUJRW0kZtRxvWSXsxVIiPYM3grYnnJUkQs8QYgtDTeyuAyonPxEinRHnA0082pgXhs7';
  // Replace with the domain you want your users to be redirected back to after payment
  var DOMAIN = location.href.replace(/[^/]*$/, '');

  if (PUBLISHABLE_KEY === 'pk_test_Tr8olTkdFnnJVywwhNPHwnHK00HkHV4tnP') {
    console.log(
      'Replace the hardcoded publishable key with your own publishable key: https://dashboard.stripe.com/test/apikeys'
    );
  }

  var stripe = Stripe(PUBLISHABLE_KEY);

  // Handle any errors from Checkout
  var handleResult = function (result) {
    if (result.error) {
      var displayError = document.getElementById('error-message');
      displayError.textContent = result.error.message;
    }
  };

  document.querySelectorAll('button').forEach(function (button) {
    button.addEventListener('click', function (e) {
      var mode = e.target.dataset.checkoutMode;
      var priceId = e.target.dataset.priceId;
      var items = [{ price: priceId, quantity: 1 }];

      // Make the call to Stripe.js to redirect to the checkout page
      // with the sku or plan ID.
      stripe
        .redirectToCheckout({
          mode: mode,
          lineItems: items,
          shippingAddressCollection: {
             allowedCountries: ['GB'],
          },
          successUrl:
            'https://artistsforukraine.org/success.html?session_id={CHECKOUT_SESSION_ID}',
          cancelUrl:
            'https://artistsforukraine.org/canceled.html?session_id={CHECKOUT_SESSION_ID}',
        })
        .then(handleResult);
    });
  });
</script>
